@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-cream-50: #fdfcf9;
  --color-cream-100: #FAF8F4;
  --color-cream-150: #F3EFE9;
  --color-cream-200: #EBE5DB;
  
  --color-fainted-black: #2C2A29;
  --color-fainted-gray: #7A7571;
  --color-fainted-border: #E6E0D5;
  
  --color-fainted-red: #D27265;
  --color-fainted-blue: #6C8FA2;
  --color-fainted-orange: #CE865A;
  --color-fainted-yellow: #CCA252;
  --color-fainted-green: #6C9472;
}

body {
  background-color: var(--color-cream-100);
  color: var(--color-fainted-black);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-cream-200);
    border-radius: 9999px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-fainted-gray);
    opacity: 0.5;
  }
}

