@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-cream-50: #fdfcf9;
  --color-cream-100: #FAF8F4;
  --color-cream-150: #F3EFE9;
  --color-cream-200: #EBE5DB;
  
  --color-fainted-black: #2C2A29;
  --color-fainted-gray: #54504D;
  --color-fainted-border: #E0D9CD;
  
  --color-fainted-red: #AF4335;
  --color-fainted-blue: #456A7F;
  --color-fainted-orange: #9F592D;
  --color-fainted-yellow: #88641B;
  --color-fainted-green: #416D47;
}

body {
  background-color: var(--color-cream-100);
  color: var(--color-fainted-black);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-cream-200);
    border-radius: 9999px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-fainted-gray);
    opacity: 0.5;
  }
}

